html, body{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    min-width: 1280px;
    background-color:#f4f4f4;
}
.mainimg{
    max-width: 100%;
    max-height: 100%;
    
}
mainimg{
    width: 100vw;
    height: 100vh;

}
.section{
    padding-left: 300px;
    max-width: 100%;
    max-height: 100%;
    
}
.webpre{
    font-family: 'Pretendard', sans-serif;
    font-weight: bold;
    font-size: 35px;
    
    
}
.webtext{
    padding-top: 50px;
    font-size: 25px;
    float: left;
}
.webpic{
    padding-left: 30px;
}
.button{
    position: relative;
    display: inline-block;
    height: 70px;
    width: 250px;
    margin-top: 60px;
    margin-left: 220px;
    padding: 0px;
    text-align: center;
    background-color: #1f1f1f;
    color: white;
    font-size: 20px;
    font-weight: bold;
}
.button:active{
    background-color: white;
    color: black;
}
