html, body{
    margin: 0;
    padding: 0;
    height: 100%;
}
body{
    width: 100%;
    min-width: 1280px;
    text-align: center;
    
}
a{
    color: white;
    text-decoration: none;
    font-size:20px;
    font-weight: bold;
}
div{
    margin: 0;
    padding: 0;
    display: inline-block;
    vertical-align: top;
}
header{
    
    background-color: #1f1f1f;
    padding: 15px;
    text-align: center;
    
    
}

logo{
    margin: -20p;
}
.mainimg{
    max-width: 100%;
    max-height: 100%;
    
}
mainimg{
    width: 100vw;
    height: 100vh;

}
nav{
    
    margin: 0px;
    text-align: center;
    padding: 0;
    display: inline-block;
}

ul, ol, dl{
    list-style-type: none;
}

ul{
    list-style-type: none;
    padding-left: 0px;
    margin:0px;
    padding-bottom: 18px;
    float: right;
    color:white;
    margin-right: auto;
    margin-left: auto;
}
li{
    display: inline;
    color: white;
    margin-bottom: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 100px;
    padding-right: 100px;
    

    
}
ul li{
    border-left: 1px solid #505050;
}
li:first-child{
    border-left: none;
}

menu{
    text-align: center;
    padding: 0px;
    padding-bottom: 100px;
}
.menutext{
    text-align: center;
    margin-top: 30px;

    font-weight: bold; 
    border-bottom: 2px solid lightgray; 
    padding-right: 50px; 
    padding-left: 50px;
    font-size: 25px;
}

